.site-header {
  background-color: $primary;

  .cooperators {
    /* hide banner cooperator logos on small screens. */
    display: none;
    /* banner cooperator styles. */
    white-space: nowrap;

    > .cooperator {
      display: inline-block;
      padding: 1em;

      > img {
        height: 60px;
      }
    }
  }

  /* position usgs logo over background. */
  .site-logo {
    display: block;
    padding: 1em;

    .desktop-logo {
      display: none;
    }

    .mobile-logo {
      display: block;
      height: 20px;
    }

    > img {
      border: none;
      height: 60px;
      width: auto;
    }
  }

  /* visually hide navigation jumplink. */
  .jumplink-navigation {
    display: block;
    left: -9999px;
    position: absolute;
    top: 0;
  }
}

@media screen and (min-width: $breakpoint-offcanvas) {

  .banner  {
    background-color: $primary;

      > .banner-content:after {
      color: $primary-text-color;
      content: $banner-title;
      display: block;
      padding: 0.5em $spacing;
      text-shadow: 0 0 1px rgba(0,0,0,0.3);
    }
  }

  .site-header {
    /* make banner larger on large screens. */
    background-color: $banner-background-color;
    background-image: url($banner-image);
    background-repeat: no-repeat;
    background-size: contain;

    .banner-content:after {
      background-color: $primary;
      color: $primary-text-color;
      content: $banner-title;
      display: block;
      padding: 0.5em $spacing;
      text-shadow: 0 0 1px rgba(0,0,0,0.3);
    }

    .cooperators {
      display: inline-block;
    }

    .site-logo {
      display: inline-block;

      .desktop-logo {
        display: inline-block;
      }

      .mobile-logo {
        display: none;
      }
    }
  }
}


@media print {
  /** Only show USGS logo when printing, requires background colors... */
  .site-header {
    background-color: #fff;
    height: 0;
    margin: 0;
    padding: 0;
    visibility:hidden;
    width: 100%;

    &:after {
      color: #333;
      content: 'U.S. Geological Survey - ' $banner-title;
      display: block;
      visibility: visible;
    }
  }

  .page {
    padding: 1em 0 0 !important;
  }
}