.alert {
  background-color: #eeeeee;
  margin-top: 1em;
  padding: 1em;
  position: relative;
  overflow: hidden;

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin-top: 0;
  }
}

.error,
.info,
.success,
.warning {
  padding: 1em 2em;

  &:before {
    color: rgba(0, 0, 0, 0.05);
    font-family: 'Material Icons';
    font-size: 5em;
    left: -1.2rem;
    line-height: 1;
    position: absolute;
    top: -1.3rem;
  }
}

.info {
  background-color: #E8F5FA;

  /* info */
  &:before {
    content: '\e88e';
  }
}

.success {
  background-color: #E5FCDE;

  /* check circle */
  &:before {
    content: '\e86c';
  }
}

.warning {
  background-color: #FDF7DC;

  /* warning */
  &:before {
    content: '\e002';
  }
}

.error {
  background-color: #F9DEDE;

  /* remove circle */
  &:before {
    content: '\e15c';
  }
}

.remove-icon {
  padding: 1em;

  &:before {
    content: '';
  }
}
