.alert {
  background-color: #eeeeee;
  margin-top: 1em;
  padding: 1em;
  position: relative;
  overflow: hidden;

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin-top: 0;
  }
}

.info {
  background-color: #E8F5FA;
}

.success {
  background-color: #E5FCDE;
}

.warning {
  background-color: #FDF7DC;

}

.error {
  background-color: #F9DEDE;
}


@media screen and (min-width: 768px) {

  .error,
  .info,
  .success,
  .warning {
    padding: 2em;

    &:before {
      color: rgba(0,0,0,0.03);
      font-family: 'Material Icons';
      font-size: 7em;
      left: -1rem;
      line-height: 1;
      position: absolute;
      top: -1rem;
    }
  }

  .info:before {
    content: '\e88f';
  }

  .success:before {
    content: '\e5ca';
  }

  .warning:before {
    content: '\e001';
  }

  .error:before {
    content: '\e001';
  }

  .remove-icon {
    padding: 1em;

    &:before {
      content: '';
    }
  }
}
